body{
	margin: 0;
}

header{
	background-color: #FF8000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: brown;
	font-family: Helvetica, Arial, sans-serif;
}

header img{
	border-radius: 150px;
	border: 20px solid black;
}